<form [formGroup]="thirdPartyForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>VAT Number</mat-label>
    <input matInput placeholder="VAT Number" value="{{ thirdPartyForm.get('vat').value }}" formControlName="vat">
    <button matSuffix type="button" mat-icon-button disabled><mat-icon>pageview</mat-icon></button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Legal Name</mat-label>
    <input matInput placeholder="Legal Name" value="{{ thirdPartyForm.get('name').value }}" formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Activity Number</mat-label>
    <input matInput placeholder="Activity Number" value="{{ thirdPartyForm.get('activityNumber').value }}" formControlName="activityNumber">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Corporate Phone Number</mat-label>
    <input matInput placeholder="Corporate Phone Number" value="{{ thirdPartyForm.get('corpoPhone').value }}" formControlName="corpoPhone">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Corporate Email Address</mat-label>
    <input matInput placeholder="Corporate Email Address" value="{{ thirdPartyForm.get('corpoMail').value }}" formControlName="corpoMail">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Corporate Web Page</mat-label>
    <input matInput placeholder="Corporate Web Page" value="{{ thirdPartyForm.get('corpoWeb').value ? thirdPartyForm.get('corpoWeb').value: 'N/A' }}" formControlName="corpoWeb">
  </mat-form-field>
  <!-- ADDRESSES SECTION -->
  <mat-accordion formArrayName="addresses">
    <mat-expansion-panel *ngFor="let address of thirdPartyForm.get('addresses')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matSuffix *ngIf="address.main">home</mat-icon>
          <span>{{ address.city }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Street" value="{{ address.street }}" disabled>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Complement 1</mat-label>
        <input matInput placeholder="Complement 1" value="{{ address.streetComp ? address.streetComp : 'N/A' }}" disabled>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Complement 2</mat-label>
        <input matInput placeholder="Complement 2" value="{{ address.streetComp2 ? address.streetComp : 'N/A' }}" disabled>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" value="{{ address.city }}" disabled>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput placeholder="State" value="{{ address.state }}" disabled>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" value="{{ address.country }}" disabled>
      </mat-form-field>

    </mat-expansion-panel>
  </mat-accordion>
</form>
