<mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>

<mat-card style="margin: 1rem;" *ngIf="customers">
  <mat-nav-list>
    <mat-list-item
      *ngFor="let customer of customers"
      [routerLink]="['/customers/customer-detail/', customer._id ]">
      <mat-icon [ngClass]="{activeAccount: customer.active}" style="margin-right: 0.5rem;">account_box</mat-icon>
      <span cdk-visually-hidden>{{ customer.thirdParty[0].name | uppercase }}</span>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
